<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Imagen</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of banners">
                <td>{{ item.name }}</td>
                <td>{{ item.mimetype }}</td>
                <td>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModalImage">
                        <img [src]="item.path" width="100px" (click)="onClickImage(item)"/>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="onClickDelete(item.id)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<demo-banner-form (changeValue)="onChangeSave()"></demo-banner-form>
<demo-banner-image [image]="bannerSelected?.path"></demo-banner-image>